# Django Configuration
SECRET_KEY=your-super-secret-django-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:8501,http://127.0.0.1:8501
LOG_LEVEL=INFO


# Databases & Queues
DATABASE_URL=postgresql://user:password@host:port/dbname


CELERY_REDIS_URL=.....
REDIS_CACHE_URL=.....

# Upstash Redis:
CELERY_REDIS_URL=rediss://default:password@enhanced-civet-103341.upstash.io:6379
REDIS_CACHE_URL=rediss://default:password@enhanced-civet-103341.upstash.io:6379


# External API Keys
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=your_groq_model_here (optional)

TAVILY_API_KEY=your_tavily_api_key_here


# Application Settings
DOCUMENT_MAX_UPLOAD_SIZE_MB=60 (optional)
CHAT_HISTORY_MAX_MESSAGES=20 (optional)


# Retrieval (RAG) & Agent Settings
CHROMA_PERSIST_DIR=chroma_data (optional)
RETRIEVAL_TOP_K=4 (optional)
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2 v
CHUNK_SIZE=1000 (optional)
CHUNK_OVERLAP=200 (optional)
WEB_SEARCH_MAX_RESULTS=3 (optional)
RESULTS_PER_SOURCE=10 (optional)


# Langsmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT=your_langsmith_project_name